input.chat-input {
  min-width: 80%;
  min-height: 40px;
  padding: 0.5em;
  font: 15px sans-serif;
  border-width: 2px !important;
  border-color: rgb(211, 211, 211) !important;
  border-collapse: collapse !important;
  border-radius: 20px !important;
}