div {
  font-size: 10px;
  font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
}

.balloon-set-box {
  display: flex;
  flex-wrap: wrap;
}
.balloon-set-box.other { /* 左 */
  flex-direction: row;
}
.balloon-set-box.not-other { /* 右 */
  flex-direction: row-reverse; /* アイコンと吹き出しの並びを入れ替える */
}
.balloon {
  position: relative; /* 三角の位置を固定するために設定 */
  display: inline-block;
  max-width: 80%;
  margin: 10px 20px 20px; /* 上 左右 下のマージン */
  padding: 8px 15px; /* ふきだし内の余白 */
  background: #f0f0f0; /* 背景色 */
  text-align: left; /* テキストの揃え */
  border-radius: 15px;
  &::after {
    content: '';
    border: 14px solid transparent;
    border-top-color: #f0f0f0;
    position: absolute;
    top: 0;
  }
  &.boke {
    background: blue;
    border-top-color: blue;
    color: white;
    &::after {
      border-top-color: blue;
    }
  }
  &.tukkomi {
    background: red;
    border-top-color: red;
    color: white;
    &::after {
      border-top-color: red;
    }
  }
}

.other .balloon::after { /* 左側からの三角の位置 */
  left: -10px;
}
.not-other .balloon::after { /* 右側からの三角の位置 */
  right: -10px;
}

.icon-box {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 0 6px rgba(0,0,0,0.3);
  overflow: hidden;
}
