.makelaugh-container {
  background-color: #64C99B;
}
.laugh-container {
  background-color: #F6D580;
}
.ranking-container {
  background-color: #6DDFFF;
}
.title-container {
  min-width: 100%;
  vertical-align: bottom;
  margin-left: 15px;
  >span {
    text-align: center;
    font-size: 3em;
    background-color: inherit;
  }
}
.item-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  min-height: 25vh;
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  .header-tabs-container {
    background-color: white;
    max-height: 70vh;
    overflow-y: auto;
  }
}