@import "../../app-page.scss";

div {
  width: 100%;
  &.alert-container {
    margin-left: 10px;
  }
}

.chat-form-container {
  display: flex; 
  min-width: 100%; 
  min-height: 50px;
  background-color: $light-070; 
  z-index: 100;
}
@media only screen and (max-width: 1024px) {
  .chat-form-container {
    position: fixed;
    bottom: 0;
    left: 0;
  }
}

.send-btn {
  border: 3px solid $dark-012;
}
// 角を丸くする
input[type='text'], .focus_bg {
  border-radius: 20px;
}

.cp_iptxt {
  width: auto;
	position: relative;
  margin-left: 10px;
  margin-bottom: 3px;
  input[type='text'] {
    font: 15px/24px sans-serif;
    box-sizing: border-box;
    width: 100%;
    letter-spacing: 1px;
    padding-left: 2em;
    // フォーカス時にブラウザによって青い枠線が付与されないようにする
    &:focus {
      outline: none;
    }
  }
  // テキスト入力部品エフェクト
  .effect {
    position: relative;
    padding: 7px 15px;
    border: 0;
    border: 1px solid $dark-012;
    background: transparent;
    ~ .focus_bg {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      transition: 0.4s;
      background-color: transparent;
    }
    &:focus {
      border: 1px solid #da3c41;
    }
    &:focus ~ .focus_bg {
      width: 100%;
      transition: 0.4s;
      background-color: rgba(218,60,65,.3);
    }
    ~ label {
      position: absolute;
      z-index: -1;
      top: 10px;
      left: 14px;
      width: 100%;
      transition: 0.3s;
      letter-spacing: 0.5px;
      color: #aaaaaa;
    }
    &:focus ~ label {
      font-size: 12px;
      top: -18px;
      left: 0;
      transition: 0.3s;
      color: #da3c41;
    }
  }
}