$dark-087: rgba(0,0,0,0.87);
$dark-054: rgba(0,0,0,0.54);
$dark-026: rgba(0,0,0,0.26);
$dark-012: rgba(0,0,0,0.12);

$light-100: rgba(255,255,255,1.00);
$light-070: rgba(255,255,255,0.70);
$light-030: rgba(255,255,255,0.30);
$light-012: rgba(255,255,255,0.12);

html,body {
  overflow: hidden;
}