$dark-087: rgba(0, 0, 0, 0.87);
$dark-054: rgba(0, 0, 0, 0.54);
$dark-026: rgba(0, 0, 0, 0.26);
$dark-012: rgba(0, 0, 0, 0.12);

$light-100: rgba(255, 255, 255, 1);
$light-070: rgba(255, 255, 255, 0.7);
$light-030: rgba(255, 255, 255, 0.3);
$light-012: rgba(255, 255, 255, 0.12);

$footer-height: 60px;

html,
body {
  overflow: hidden;
}
// footer分marginを取る
@media only screen and (max-width: 1024px) {
  div#app {
    max-height: calc(100vh - 60px);
  }
}
